<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TU</title>
    <style>
        body { margin:0; }
        .Home01 {
            background-color:#f04;
            padding:10px 100px;
            text-align:center;
        }
        .Home02 {
            background-color:#faa;
            padding:50px 100px;
        }
        th { background-color:#f04; padding:10px; }
        td { background-color:white; padding:10px; }
         .tx {
            border-radius:20px;
            padding:15px;
            width:500px;
        }
    </style>
</head>
<body>
<div class="Home01">
    <font color="yellow" size="6"> SCHOOL OF ARTS AND SCIENCE </font><br>
    <font color="white" size="7">Department of Computational and Data Science</font>
</div>
<div class="Home02">
    <h3>Student Information Entry</h3>
    <form action="/StudentSave" method="post">
     <input type="text" name="reg" placeholder="Enter Register Number" class="tx"> <br>
     <input type="text" name="sname" placeholder="Enter Student Name" class="tx"> <br>
     <input type="text" name="city" placeholder="Enter the City" class="tx"><br>
     <input type="submit">
    </form>
</div>
</body>
</html>